<EditForm Model="@registrationModel" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <div class="form-group">
        <label style="font-weight:bold"> Full Name: </label>
        <div>
            <InputText @bind-Value="@registrationModel.FullName" />
            <ValidationMessage For="@(() => registrationModel.FullName)" />
        </div>
    </div>
    <div class="form-group">
        <label style="font-weight:bold"> UserName: </label>
        <div>
            <InputText @bind-Value="@registrationModel.UserName" />
            <ValidationMessage For="@(() => registrationModel.UserName)" />
        </div>
    </div>
    <div class="form-group">
        <label style ="font-weight:bold"> Email: </label>
        <div>
            <InputText @bind-Value="@registrationModel.Email" />
            <ValidationMessage For="@(() => registrationModel.Email)" />
        </div>
    </div>
    <div class="form-group">
        <label style="font-weight:bold"> Phone number: </label>
        <div>
            <InputText @bind-Value="@registrationModel.PhoneNumber" />
            <ValidationMessage For="@(() => registrationModel.PhoneNumber)" />
        </div>
    </div>
    <div class="form-group">
        <label style="font-weight:bold"> Country: </label>
        <div>
            <InputText @bind-Value="@registrationModel.Country" />
            <ValidationMessage For="@(() => registrationModel.Country)" />
        </div>
    </div>
    <div class="form-group">
        <label style="font-weight:bold"> Password: </label>
        <div>
            <InputText type="password" placeholder="Password" class="valid" autocomplete="off" @bind-Value="@registrationModel.Password" />
            <ValidationMessage For="@(() => registrationModel.Password)" />
        </div>
    </div>
    <div class="form-group">
        <label style="font-weight:bold"> Password Confirm: </label>
        <div>
            <InputText type="password" placeholder="Password Confirm" class="valid" autocomplete="off" @bind-Value="@registrationModel.PasswordConfirm" />
            <ValidationMessage For="@(() => registrationModel.PasswordConfirm)" />
        </div>
    </div>
    <br />
    <button type="submit" class="btn btn-success">
        @ButtonText
    </button>

    <a class="btn btn-primary" href="guests">Cancel</a>
</EditForm>

@code {
    [Parameter] public UserDetailsDto? registrationModel { get; set; } 
    [Parameter] public string ButtonText { get; set; } = "Save";
    [Parameter] public EventCallback OnValidSubmit { get; set; }
}