@page "/register"
@layout AuthLayout
@inject NavigationManager navigationManager
@inject CustomStateProvider authStateProvider

<h1 class="h2 font-weight-normal login-title">
    Register
</h1>

<EditForm class="form-signin" OnValidSubmit="OnSubmit" Model="registerRequest">
    <DataAnnotationsValidator />

    <label for="inputFullname" class="sr-only">FullName</label>
    <InputText id="inputFullname" class="form-control" placeholder="FullName" autofocus @bind-Value="@registerRequest.FullName" />
    <ValidationMessage For="@(() => registerRequest.FullName)" />

    <label for="inputUserName" class="sr-only">UserName</label>
    <InputText id="inputUserName" class="form-control" placeholder="UserName" autofocus @bind-Value="@registerRequest.UserName" />
    <ValidationMessage For="@(() => registerRequest.UserName)" />

    <label for="inputEmail" class="sr-only">Email</label>
    <InputText id="inputEmail" class="form-control" placeholder="Email" autofocus @bind-Value="@registerRequest.Email" />
    <ValidationMessage For="@(() => registerRequest.Email)" />

    <label for="inputPhoneNumber" class="sr-only">Phone Number</label>
    <InputText id="inputPhoneNumber" class="form-control" placeholder="Phone Number" autofocus @bind-Value="@registerRequest.PhoneNumber" />
    <ValidationMessage For="@(() => registerRequest.PhoneNumber)" />

    <label for="inputCountry" class="sr-only">Country</label>
    <InputText id="inputCountry" class="form-control" placeholder="Country" autofocus @bind-Value="@registerRequest.Country" />
    <ValidationMessage For="@(() => registerRequest.Country)" />
    
    <label for="inputPassword" class="sr-only">Password</label>
    <InputText type="password" id="inputPassword" class="form-control" placeholder="Password" @bind-Value="@registerRequest.Password" />
    <ValidationMessage For="@(() => registerRequest.Password)" />
    
    <label for="inputPasswordConfirm" class="sr-only">Password Confirmation</label>
    <InputText type="password" id="inputPasswordConfirm" class="form-control" placeholder="Password Confirmation" @bind-Value="@registerRequest.PasswordConfirm" />
    <ValidationMessage For="@(() => registerRequest.PasswordConfirm)" />
    <br />
    <button class="btn btn-lg btn-primary btn-block" type="submit">Create account</button>
    
    <label class="text-danger">@error</label>
    <NavLink href="login">
        <h6 class="font-weight-normal text-center">Already have an account? Click here to login</h6>
    </NavLink>
</EditForm>

@functions {
    RegistrationRequest registerRequest { get; set; } = new RegistrationRequest();
    string? error { get; set; }

    async Task OnSubmit()
    {
        error = null;
        try
        {
            await authStateProvider.Register(registerRequest);
            navigationManager.NavigateTo("");
        }
        catch (Exception ex)
        {
            error = ex.Message;
        }
    }
}